.characteristics-block1 {
  @include size(8.4);
  @include shift-right(0);
  @include shift-left(3);
  @include shift-sm-left(0);
  @include size-sm(11.4);
  @include shift-xs-left(0);
  @include size-xs(24);
  align-self: center;
  @include from-to(576px, 950px){
    @include size(9.4);
    @include shift-left(2);
  }
  td {
    @include to(575px){
      padding-left: 20px;
      padding-right: 20px; 
    }
  }
  li {
    // width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  tr:nth-child(n+2) td {
    padding-top: 65px;
    @include to(575px){
      padding-top: 30px; 
    }
  }
  li:nth-child(odd) {
    margin-right: auto;
  }
  li:nth-child(even) {
    margin-right: auto;
    margin-left: auto;
  }
  .characteristic-span-small {
    margin-bottom: 20px;
    @include to(575px){
      margin-bottom: 15px; 
    }
  }
}
.characteristic-digit-large {
  font-family: 'MADE Coachella';
  font-weight: 500;
  font-size: 100px;
  line-height: 100%;
  /* identical to box height, or 100px */
  
  letter-spacing: -0.03em;

  -webkit-text-stroke: var(--color-gold);
  -webkit-text-stroke-width: 1px;
  color: transparent;
  @include from(1680px){
    font-size: 120px;
  }
  @include from-to(576px, 950px){
   font-size: 70px; 
  }
  @include to(575px){
      font-size: 70px;
  } 
}
.characteristic-span-small {
  color: var(--color-grey);
  text-transform: uppercase;
}

.characteristics-block2 {
  @include size(24);
  @include shift(0);
  margin-top: 30px;
  @include from(2040px){
    max-width: 1680px;
    margin-left: auto;
    margin-right: auto;
  }
}


.single-characteristic {
  padding-top: 70px;
  padding-bottom: 50px;
  border-bottom:  1px solid rgba(152, 152, 152, 0.25);
  color: var(--color-gray);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  @include from(1680px){
   padding-top: 80px;
   padding-bottom: 60px; 
  }
  @include to(575px){
    padding-top: 30px;
    padding-bottom: 30px;

  }
  &__value { 
    width: 50%;
    @include from(1680px){
      // font-size: 18px;
    }
    @include to(575px){
      width: 100%;
    }
  }
  &__title {
    width: 50%;
    font-size: 36px;
    line-height: 140%;
    text-transform: uppercase;
    @include from(1680px){
      font-size: 40px;
    }
    @include from-to(576px, 950px){
      padding-right: 25px;
      word-break: break-word;
    }
    @include to(575px){
      font-size: 24px;
      width: 100%;
      margin-bottom: 10px;
    }
  }
}