
.conception-img2 {
  @include size(10);
  @include shift(0);
  position: relative;
  margin-bottom: var(--bottom-block-margin);
  .icon--round-text {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%,-50%);
    z-index: 3;
    animation: rotation 30s infinite;
  }
}

@keyframes rotation {
  from {
    transform: translate(-50%,-50%) rotate(0deg);
  }
  to {
    transform: translate(-50%,-50%) rotate(360deg);
  }
}
.round-image-on-first-section {
  height: auto;
  width: 100%;
}
.page-section-common-block {
  display: flex;
  flex-direction: column;
}

.conception-paragraph {
  font-size: 36px;
  line-height: 140%;
  text-transform: uppercase;
  color: var(--color-gray);
  &.dark {
    color: var(--color-black);

  }
}

.conception-paragraph1 {
  @include size(12);
  @include shift-right(0); 
  @include shift-left(2);
  margin-top: auto;
  margin-bottom: auto;
}
.conception-block-with-text {
  div {
    order: -1;
  }
  p {
    margin-top: 20px;
    @include size(14);
  }
}
.conception-block-with-text1 {
  @include size(14.4);
  @include shift(0);
}
.conception-block-with-text2 {
  @include size(8.4);
  @include shift-left(1);
  @include shift-right(0);
  margin-bottom: var(--bottom-block-margin);
}
.conception-paragraph2 {
  @include size(10.8);
  @include shift(0);
}
.conception-img3 {
  @include size(12);
  @include shift-left(1);
  @include shift-right(0);
  margin-bottom: var(--bottom-block-margin);
}
.conception-img4 {
  @include size(12);
  @include shift(0);
  height: auto;
  --margin-b: -100px;
  position: relative;
  z-index: 3;
  margin-bottom: var(--margin-b);
  @include to(950px){
    --margin-b: 0;
  }
  
}

.conception-block-with-stars {
  @include size(13.2);
  @include shift-padding-left(0.5);
  @include shift-right(-1.2);
  .button-std-3 {
    margin-top: 55px;
  }
}
.conception-block-with-text3 {
  @include size(15);
  @include shift(0);
}
.conception-img5 {
  @include size(7.55);
  @include shift-left(1);
  @include shift-right(0);
}
.w-100 {
  @include size(24);
  @include shift(0);
}
.conception-white-section {
  background-color: var(--color-milk);
  @include row-flex();
  padding-left: calc(8.33333% + 12.5px + var(--page-side-fields));
  padding-right: calc(8.33333% + 12.5px + var(--page-side-fields));
  margin-left: calc(var(--page-side-fields) * -1 - #{$offset / 2});
  margin-right: calc(var(--page-side-fields) * -1 - #{$offset / 2});
  @include to(1120px){
    
    padding-left: var(--page-side-fields);
    padding-right: var(--page-side-fields);
    margin-left: calc( -1 * var(--page-side-fields));
    margin-right: calc( -1 * var(--page-side-fields));
  }
  // padding-left: var(--page-side-fields);
  // padding-right: var(--page-side-fields);
  position: relative;
  padding-top: 202px;
  padding-bottom: 150px;
  .icon--star {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-50%,-50%);
    z-index: 3;
    width: 68px;
    height: 68px;
  }
  &__decor-pattern {
    position: absolute;
    top: -2px;
    right: 12%;
    width: 48%;
    height: 202px;
  }
  .page-title {
    @include size(24);
    @include shift(0);
    text-align: right;
    margin-top: 50px;
  }
  .conception-paragraph {
    margin-top: 30px;
    @include size(15.2);
    @include shift(0);
  }
  &__block {
    position: relative;
    @include size(24);
    @include shift(0);
    margin-top: 50px;
    &-img {
      
      position: absolute;
      right: calc((8.33333% + 12.5px) * -1);
      bottom: -120px;
      z-index: 0;
      width: 45%;
    }
    &-image {
      position: relative;
      z-index: 1;
    }
  }
}
.conception-last-section {
  position: relative;
  margin-top: 0;
  padding-top: var(--decor-height);
  --decor-height: 200px;
  @include to(768px){
    padding-left: var(--page-side-fields);
    padding-right: var(--page-side-fields);
  }
  .page-title {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .conception-paragraph {
    margin-bottom: 150px;
  }
  .conception-img5,
  .conception-block-with-text {
    margin-bottom: var(--bottom-block-margin);
  }
  .ellipse-common{
    @include size(13.8);
    @include shift(0);
    margin-left: auto;
  }
  .button-std-3 {
    width: 100%;
    top: 40%;
  }
  &__decor-pattern {
    position: absolute;
    left: 0;
    top: -2px;
    height: var(--decor-height);
  }
}