
.conception-img2 {
  @include size(10);
  @include shift(0);
  position: relative;
  margin-bottom: var(--bottom-block-margin);
  .icon--round-text {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%,-50%);
    z-index: 3;
    animation: rotation 30s infinite;
  }
  @include from-to(576px, 950px){
    @include size(12);
  }
  @include to(575px) {
    
    @include size(24);
    margin-top: 50px;
  }
}

@keyframes rotation {
  from {
    transform: translate(-50%,-50%) rotate(0deg);
  }
  to {
    transform: translate(-50%,-50%) rotate(360deg);
  }
}
.round-image-on-first-section {
  height: auto;
  width: 100%;
}
.page-section-common-block {
  display: flex;
  flex-direction: column;
}

.conception-paragraph {
  font-size: 36px;
  line-height: 140%;
  text-transform: uppercase;
  color: var(--color-gray);
  &.dark {
    color: var(--color-black);
  }
  @include from(1680px){
    font-size: 40px;
  }
  @include from-to(576px, 950px){
    font-size: 24px;
  }
  @include to(575px) {
    font-size: 21px;
  }
}

.conception-paragraph1 {
  @include size(12);
  @include shift-right(0); 
  @include shift-left(2);
  margin-top: auto;
  margin-bottom: auto;
  @include from-to(576px, 950px){
    
    @include shift-left(0);
  }
  @include to(575px) {
    @include size(24);
    @include shift(0);
    margin-bottom: 30px;
    

  }
}
.conception-block-with-text {
  font-size: 18px; 
     line-height: 140%;
  div {
    order: -1;
  }
  p {
    margin-top: 20px;
    @include size(14);
    @include from(1680px){
      font-size: 24px; 
      line-height: 140%;
    }
    @include to(575px) {
      
      @include size(24);
    }
  }
  @include from-to(576px, 950px){
    font-size: 15px;
  }
}
.conception-block-with-text1 {
  @include size(14.4);
  @include shift(0);
  @include to(575px) {
    @include size(24);
    margin-bottom: 30px;
  }
}
.conception-block-with-text2 {
  @include size(8.4);
  @include shift-left(1);
  @include shift-right(0);
  margin-bottom: var(--bottom-block-margin);
  @include from-to(576px, 950px){
    
    @include size(8.4);
    @include shift-left(0);
  }
  @include to(575px) {
    @include size(24);
    @include shift(0);
  }
}
.conception-paragraph2 {
  @include size(10.8);
  @include shift(0);
  @include to(575px) {
    @include size(24);
    margin-bottom: 30px;
  }
}
.conception-img3 {
  @include size(12);
  @include shift-left(1);
  @include shift-right(0);
  margin-bottom: var(--bottom-block-margin);
  @include to(575px) {
    @include size(24);
    @include shift(0);
  }
}
.conception-img4 {
  @include size(12);
  @include shift(0);
  height: auto;
  --margin-b: -100px;
  position: relative;
  z-index: 3;
  margin-bottom: var(--margin-b);
  @include to(950px){
    --margin-b: 0;
  }
  @include from-to(576px, 950px){
    --margin-b: -50px;
  }
  @include to(575px) {
    @include size(24);
  }
  
}

.conception-block-with-stars {
  @include size(13.2);
  @include shift-padding-left(0.5);
  @include shift-right(-1.2);
  .button-std-3 {
    margin-top: 55px;
    width: 320px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    @include to(575px) {
      width: 170px;
    }
  }
  @include from(1680px){

  }
  @include to(575px) {
    @include size(24);
    padding-left: 0;
    @include shift-right(0);
    @include shift-left(0);
    padding-bottom: var(--bottom-block-margin);
  }
}
.conception-block-with-text3 {
  @include size(15);
  @include shift(0);
  @include to(575px) {
    
    @include size(24);
  }
}
.conception-img5 {
  @include size(7.55);
  @include shift-left(1);
  @include shift-right(0);
  @include from-to(576px, 950px){
    
    @include shift-left(0);
  }
  @include to(575px) {
    @include size(24);
    @include shift(0);

  }
}
.w-100 {
  @include size(24);
  @include shift(0);
}
.conception-white-section {
  background-color: var(--color-milk);
  @include row-flex();
  padding-left: calc(8.33333% + 12.5px + var(--page-side-fields));
  padding-right: calc(8.33333% + 12.5px + var(--page-side-fields));
  margin-left: calc(var(--page-side-fields) * -1 - #{$offset / 2});
  margin-right: calc(var(--page-side-fields) * -1 - #{$offset / 2});
  position: relative;
  padding-top: 202px;
  padding-bottom: 150px;
  @include from-to(576px, 950px){
    padding-top: 202px;
    padding-bottom: 150px;
  }
  @include to(1120px){
    padding-left: var(--page-side-fields);
    padding-right: var(--page-side-fields);
    margin-left: calc( -1 * var(--page-side-fields));
    margin-right: calc( -1 * var(--page-side-fields));
  }
  @include to(575px) {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 0;
    padding-right: 0;
  }
  // padding-left: var(--page-side-fields);
  // padding-right: var(--page-side-fields);
  
  .icon--star {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-50%,-50%);
    z-index: 3;
    width: 68px;
    height: 68px;
    @include to(575px) {
     width: 34px;
     height: 34px; 
    }
  }
  &__decor-pattern {
    position: absolute;
    top: -2px;
    right: 12%;
    width: 48%;
    height: 202px;
  }
  .page-title {
    @include size(24);
    @include shift(0);
    text-align: right;
    margin-top: 50px;
    @include from(1680px){
      margin-top: 60px;
    }
  }
  .conception-paragraph {
    margin-top: 30px;
    @include size(15.2);
    @include shift(0);
    @include from(1680px){
      margin-top: 40px; 
    }
    @include to(575px) {
      @include size(24);
    }
  }
  &__block {
    position: relative;
    @include size(24);
    @include shift(0);
    margin-top: 50px;
    @include to(575px) {
      
      margin-top: 30px;
      height: 50vh;
    }
    &-img {
      
      position: absolute;
      right: calc((8.33333% + 12.5px) * -1);
      bottom: -120px;
      z-index: 0;
      width: 45%;
    }
    &-image {
      position: relative;
      z-index: 1;
      @include to(575px) {
       height: 100%;
       object-fit: cover; 
      }
    }
  }
}
.conception-last-section {
  position: relative;
  margin-top: 0;
  padding-top: var(--decor-height);
  --decor-height: 200px;
  @include to(768px){
    padding-left: var(--page-side-fields);
    padding-right: var(--page-side-fields);
  }
  @include to(575px) {
    --decor-height: 120px;
    padding-left: 0;
    padding-right: 0;
  }
  .page-title {
    margin-top: 50px;
    margin-bottom: 50px;
    @include from(1680px){
     margin-top: 60px;
     margin-bottom: 60px; 
    }
    @include to(575px) {
     margin-top: 30px;
     margin-bottom: 30px; 
    }
  }
  .conception-paragraph {
    margin-bottom: 150px;
    @include to(575px) {
      @include size(24);
      @include shift(0);
      margin-bottom: var(--bottom-block-margin);
    }
  }
  .conception-img5,
  .conception-block-with-text {
    margin-bottom: var(--bottom-block-margin);
  }
  .ellipse-common{
    @include size(13.8);
    @include shift(0);
    margin-left: auto;
    @include to(575px) {
      @include size(24);
      
    }
  }
  .button-std-3 {
    width: 100%;
    top: 40%;
  }
  &__decor-pattern {
    position: absolute;
    left: 0;
    top: -2px;
    height: var(--decor-height);
  }
}