.contacts-button {
  text-decoration: none;
  color: var(--color-white);
  background-color: transparent;
  border: 1px solid var(--color-gold);
  border: 1px solid rgba(217, 180, 143, 0.5);
  border-radius: 100px;
  padding: 15px 40px;
  overflow: hidden;
  --hover-color: rgba(217, 180, 143, 0.8);
    --hover-text-color: var(--color-white);
    position: relative;
    display: inline-block;
  @include from(1680px){
    padding: 20px 53px;
  }
  @include to(575px){
    padding: 12px 35px; 
  }
}

.contacts {
  &__map-wrapper {
    @include size(12);
    @include size-xs(24);
    @include shift(0);
    @include to(575px){
     height: calc(100vh - var(--header-h)); 
    }
    
  }
  &__map {
    position: relative;
    padding-bottom: 95%;
    @include to(575px){
     padding-bottom: calc(100vh - var(--header-h)); 
    }
  }
  .map {
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100% + (30.33333% + (var(--page-side-fields))) + 12.5px);
    height: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    // margin-right: calc((8.33333% + (var(--page-side-fields) * -1)) + 12.5px);
    min-height: auto;
    @include to(575px){
      width:  calc(100% + (var(--page-side-fields) * 2));
      margin-left: calc(var(--page-side-fields) * -1);
      margin-right: calc(var(--page-side-fields) * -1);

    }
  }
  &__text {
    @include size(12);
    @include size-xs(24);
    @include shift(0);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    @include to(575px){
      margin-bottom: 60px; 
    }
    .contacts-button {
      margin-top: 50px;
      @include from(1680px){
        margin-top: 60px;
       }
       @include to(575px){
        margin-top: 30px; 
       }
    }
    &-tel {
      display: flex;
      align-items: center;
      font-family: 'MADE Coachella';
      font-size: 36px;
      line-height: 140%;
      font-weight: 300;
      /* or 50px */
      text-transform: uppercase;
      color: var(--color-milk);
      text-decoration: none;
      @include from(1680px){
        font-size: 40px; 
       }
       @include to(575px){
        font-size: 21px; 
       }
    }
    &-adress {
      font-size: 36px;
      line-height: 140%;
      color: var(--color-milk);
      text-transform: uppercase;
      margin-bottom: 20px;
      @include from(1680px){
       font-size: 40px; 
      }
      @include to(575px){
        font-size: 21px;
      }
    }
    &-subtitle {
      text-transform: uppercase;
      color: var(--color-grey);
      margin-bottom: 10px;
    }
    &-scheldule {
      margin-bottom: 50px;
      @include to(575px){
       margin-bottom: 30px; 
      }
    }
  }
}


[data-line-test] {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgba($color: #26aa89, $alpha: 1.0);
  z-index: 50;
}
[data-line-test1] {
  position: fixed;
  left: 0;
  top: 155px;
  width: 100%;
  background-color: rgba($color: #26aa89, $alpha: 1.0);
  z-index: 50;
}

.ellipse-common .contacts-last-button {
  width: 351px;
  white-space: initial;
  text-align: left;
  left: 50%;
  transform: translate(-50%, -50%);
  @include to(575px){
   width: 200px; 
  }
  
}