.docs-wrapper {
  .doc {

    @include size(24);
    @include shift(0);

  }
  .doc~.doc {
    margin-top: 90px;
    @include from(1680px){
      margin-top: 95px;
    }
    @include to(575px){
     margin-top: 20px; 
    }
  }
}
.doc {
  border-bottom: 1px solid rgba(152, 152, 152, 0.25);
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  color: var(--color-gray);
  transition: border-color .3s ease-in-out;
  --clock-width: 32px;
  cursor: pointer;
  text-decoration: none;
  @include from(950px){

    &:hover {
      border-color: var(--color-gold);
    }
  }
  @include from(1680px){
    --clock-width: 40px;
    padding-bottom: 50px;
  }
  @include to(575px){
    flex-wrap: wrap; 
    --clock-width: 0px;
  }
  .icon--clock {
    margin-right: 20px;
    @include to(575px){
      display: none; 
    }
  }
  &__download {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid rgba(152, 152, 152, 0.25);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    line-height: 130%;  
    color: var(--color-white);
    @include from(1680px){
     width: 65px;
     height: 65px; 
     font-size: 17px;
    }
    @include to(575px){
      width: 40px;
      height: 40px;
      font-size: 10px;
    }

  }
  &__date-wrapper {
    display: flex;
    flex-direction: column;
    @include to(575px){
      width: 100%; 
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 13px;
    }
  }
  &__date {
    font-family: MADE Coachella;
    font-style: normal;
    font-weight: 250;
    font-size: 36px;
    line-height: 100%;
    display: flex;
    align-items: center;
    @include from(1680px){
      font-size: 40px;
    }
    @include to(575px){
      font-size: 21px;
    }
  }
  &__year {
    font-size: 13px;
    line-height: 130%;
    margin-bottom: 10px;
    margin-left: var(--clock-width);
    @include from(1680px){
      font-size: 15px;
    }
    @include to(575px){
      margin-bottom: 0;
      font-size: 12px;
      margin-right: 7px;
    }
  }
  &__name {
    font-size: 15px;
    line-height: 130%;
    text-transform: uppercase;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    @include from(1680px){
      font-size: 19px;
      max-width: 690px;
    }
    @include to(575px){
      width: 70%;
      margin-left: 0;
      font-size: 12px;

    }
  }
}