.gallery-slider-wrapper {
  margin-left: calc(var(--page-side-fields) * -1);
  margin-right: calc(var(--page-side-fields) * -1);
  margin-top: 50px;
  @include to(575px){
    margin-top: 30px; 
  }
  .swiper-slide {
    // height: 52.5vw;
    height: 100vh;
    object-fit: cover;
    object-fit: cover;
    object-position: bottom;
    @include to(575px){
     height: calc(100vh - var(--header-h)); 
    }
  }
  @include from(950px){
    .swiper-wrapper {
      transition-timing-function: ease-in-out;
    }
  }
}

.moving-arrow {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  transition: transform .3s ease-in-out;
  will-change: left, top;     
  opacity: 0;
  @include from(1680px){
   width: 120px;
   height: 120px; 
  }
  &.left-side {
    transform: rotate(-180deg);
  }
}

.gallery-nav {
  display: flex;
  align-items: flex-end;
  position: absolute;
  left: var(--page-side-fields);
  bottom: 50px;
  z-index: 5;
  @include from(1680px){
   bottom: 110px; 
  }
  @include to(575px){
   bottom: 15px; 
  }
  &__current {
    font-family: MADE Coachella;
    font-size: 140px;
    line-height: 80%;
    /* identical to box height, or 140px */

    letter-spacing: -0.03em;
    -webkit-text-stroke: var(--color-white);
    -webkit-text-stroke-width: 1px;
    color: transparent;
    overflow: hidden;
    min-width: 170px;
    @include from(1680px){
      min-width: 190px;
     font-size: 160px; 
    }
    @include to(575px){
      font-size: 60px;
      min-width: 70px;
      line-height: 85%;
    }
  }
  &__current span {
    display: inline-block;
  }
  &__all {
    color: var(--color-white);
    font-weight: 300;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: -0.03em;
    margin-left: 20px;
    /* identical to box height, or 36px */
    @include from(1680px){
      font-size: 40px;
      line-height: 100%;
    }
    @include to(575px){
     font-size: 21px; 
     margin-left: 5px;
    }


  }
  &__all:before {
    content: '/';
  }
}