footer.footer(data-scroll-section)
  .footer__left
    p © 2021 centower. Усі права захищені.
  .footer__center
    +social('INST', 'https://instagram.com/')
    +social('FB', 'https://facebook.com/')
  .footer__right
    div Website by 
      a(href="https://smarto.agency" target='_blank' rel="nofollow" class="site-developer") Smart Orange