header.header
    +btn1('Обрати квартиру').header__link
        <svg width="18" height="21" viewBox="0 0 18 21" fill="#FAFAFA" xmlns="http://www.w3.org/2000/svg">
            <path d="M17.0431 17.6887C16.8269 17.3145 16.3481 17.1863 15.9736 17.4024L13.9395 18.5758L12.7651 16.5433L14.7992 15.3699C15.1737 15.1538 15.302 14.6754 15.0858 14.3012C14.8696 13.927 14.3907 13.7988 14.0162 14.0149L11.9821 15.1883L8.4237 9.02991C10.4229 7.37768 10.7031 4.41896 9.04959 2.42136C7.39608 0.423744 4.43494 0.143746 2.43572 1.79593C0.436494 3.44812 0.156273 6.40688 1.80982 8.40448C3.08409 9.94386 5.19382 10.5087 7.06761 9.81217L12.9749 20.0356C13.1911 20.4098 13.6699 20.538 14.0444 20.322L16.7566 18.7574C17.131 18.5414 17.2593 18.0629 17.0431 17.6887ZM2.71993 6.98166C1.85512 5.48496 2.36833 3.57115 3.86623 2.70703C5.36414 1.84291 7.27948 2.35572 8.14429 3.85242C9.0091 5.34912 8.49589 7.26292 6.99799 8.12704C5.50009 8.99116 3.58475 8.47836 2.71993 6.98166Z" />
            </svg>
    a(href="tel:+380675230001").header__tel.link.link--metis +380 67 523 00 01
    a(href="#").header__logo
        img(src="./assets/images/logo.svg", alt="centower logo")
    +btn4('Замовити дзвінок').header__link(data-call-form-popup)
    button(type="button" data-menu-call data-when-opened="Закрити" data-when-closed="Меню").header__menu-call
        span(data-call-menu-span) Меню
        <svg class="header__menu-call-icon" width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path data-close-icon transform="translate(18, 18)" d="M1 13L13 1M13 13L1 1" stroke="none"/>

            <rect width="50" height="50" rx="25" fill="#D9B48F" fill-opacity="0.8"/>
            <g data-open-icon>
                <path d="M14 21.2861H35.8571V20.0004H14V21.2861Z" fill="#FAFAFA"/>
                <path class="header__menu-call-icon-path" d="M20.4268 29H35.8553V27.7143H20.4268V29Z" fill="#FAFAFA"/>
                </g>
            </svg>
