.popup-wrapper(data-popup-with-form)

    form.popup.form-std.popup-form(data-popup-form)
        .succes-overlay(data-succes-overlay)
            .popup-top-group
                .popup-title Заявка прийнята
                    <svg data-popup-overlay-close class="popup__close " width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="50" height="50" rx="25" fill="#2D2D2D"/>
                        <path d="M19 31L31 19M31 31L19 19" stroke="#F3EFE9"/>
                        </svg>
                .popup-decor-group
                    +a3('Обрати квартиру','index.html')
                    <svg class="ellipse-with-stars" width="545" height="336" viewBox="0 0 545 336" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M423.188 50.2909C434.833 50.2909 438.16 54.3636 438.16 66C438.16 54.3636 442.042 50.2909 453.133 50.2909C442.042 50.2909 438.16 46.2182 438.16 34C438.16 46.2182 434.833 50.2909 423.188 50.2909Z" fill="#2D2D2D"/>
                        <path d="M73.8281 316.291C85.4735 316.291 88.8008 320.364 88.8008 332C88.8008 320.364 92.6826 316.291 103.773 316.291C92.6826 316.291 88.8008 312.218 88.8008 300C88.8008 312.218 85.4735 316.291 73.8281 316.291Z" fill="#2D2D2D"/>
                        <path d="M541.611 67.2043C545.974 83.487 542.671 101.037 532.889 118.861C523.105 136.687 506.853 154.758 485.379 172.042C442.432 206.61 378.672 237.97 304.277 257.905C229.881 277.839 158.983 282.56 104.506 274.097C77.2668 269.865 54.1569 262.341 36.7707 251.795C19.3876 241.251 7.752 227.703 3.38907 211.42C-0.973853 195.138 2.32904 177.587 12.1112 159.764C21.895 141.938 38.1467 123.867 59.6208 106.583C102.568 72.0148 166.328 40.6543 240.723 20.7201C315.119 0.785964 386.017 -3.93504 440.494 4.52794C467.733 8.75956 490.843 16.2836 508.229 26.8297C525.612 37.3741 537.248 50.9217 541.611 67.2043Z" stroke="black" stroke-opacity="0.5"/>
                        <path d="M541.611 113.406C545.974 129.689 542.671 147.239 532.889 165.063C523.105 182.889 506.853 200.96 485.379 218.244C442.432 252.812 378.672 284.173 304.277 304.107C229.881 324.041 158.983 328.762 104.506 320.299C77.2668 316.067 54.1569 308.543 36.7707 297.997C19.3876 287.453 7.752 273.905 3.38907 257.623C-0.973853 241.34 2.32904 223.79 12.1112 205.966C21.895 188.14 38.1467 170.069 59.6208 152.785C102.568 118.217 166.328 86.8564 240.723 66.9223C315.119 46.9881 386.017 42.2671 440.494 50.7301C467.733 54.9617 490.843 62.4858 508.229 73.0319C525.612 83.5762 537.248 97.1238 541.611 113.406Z" stroke="black" stroke-opacity="0.5"/>
                        </svg>
            p.succes-overlay__subtitle Дякуємо за звернення! Очікуйте на дзвінок з відділу продажів CENTOWER. Бажаємо приємного дня та гарного настрою =)
            .popup-decor-group.popup-decor-group-tablet-show
                    +a3('Обрати квартиру','index.html')
                    <svg class="ellipse-with-stars" width="545" height="336" viewBox="0 0 545 336" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M423.188 50.2909C434.833 50.2909 438.16 54.3636 438.16 66C438.16 54.3636 442.042 50.2909 453.133 50.2909C442.042 50.2909 438.16 46.2182 438.16 34C438.16 46.2182 434.833 50.2909 423.188 50.2909Z" fill="#2D2D2D"/>
                        <path d="M73.8281 316.291C85.4735 316.291 88.8008 320.364 88.8008 332C88.8008 320.364 92.6826 316.291 103.773 316.291C92.6826 316.291 88.8008 312.218 88.8008 300C88.8008 312.218 85.4735 316.291 73.8281 316.291Z" fill="#2D2D2D"/>
                        <path d="M541.611 67.2043C545.974 83.487 542.671 101.037 532.889 118.861C523.105 136.687 506.853 154.758 485.379 172.042C442.432 206.61 378.672 237.97 304.277 257.905C229.881 277.839 158.983 282.56 104.506 274.097C77.2668 269.865 54.1569 262.341 36.7707 251.795C19.3876 241.251 7.752 227.703 3.38907 211.42C-0.973853 195.138 2.32904 177.587 12.1112 159.764C21.895 141.938 38.1467 123.867 59.6208 106.583C102.568 72.0148 166.328 40.6543 240.723 20.7201C315.119 0.785964 386.017 -3.93504 440.494 4.52794C467.733 8.75956 490.843 16.2836 508.229 26.8297C525.612 37.3741 537.248 50.9217 541.611 67.2043Z" stroke="black" stroke-opacity="0.5"/>
                        <path d="M541.611 113.406C545.974 129.689 542.671 147.239 532.889 165.063C523.105 182.889 506.853 200.96 485.379 218.244C442.432 252.812 378.672 284.173 304.277 304.107C229.881 324.041 158.983 328.762 104.506 320.299C77.2668 316.067 54.1569 308.543 36.7707 297.997C19.3876 287.453 7.752 273.905 3.38907 257.623C-0.973853 241.34 2.32904 223.79 12.1112 205.966C21.895 188.14 38.1467 170.069 59.6208 152.785C102.568 118.217 166.328 86.8564 240.723 66.9223C315.119 46.9881 386.017 42.2671 440.494 50.7301C467.733 54.9617 490.843 62.4858 508.229 73.0319C525.612 83.5762 537.248 97.1238 541.611 113.406Z" stroke="black" stroke-opacity="0.5"/>
                        </svg>
        
        .popup-top-group
            .popup-title Замовити дзвінок
                <svg data-popup-close class="popup__close " width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="50" height="50" rx="25" fill="#2D2D2D"/>
                    <path d="M19 31L31 19M31 31L19 19" stroke="#F3EFE9"/>
                    </svg>
            .popup-decor-group
                p Залиште заявку на дзвінок і наші менеджери зателефонують вам в найближчий час!
                <svg class="ellipse-with-stars" width="545" height="336" viewBox="0 0 545 336" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M423.188 50.2909C434.833 50.2909 438.16 54.3636 438.16 66C438.16 54.3636 442.042 50.2909 453.133 50.2909C442.042 50.2909 438.16 46.2182 438.16 34C438.16 46.2182 434.833 50.2909 423.188 50.2909Z" fill="#2D2D2D"/>
                    <path d="M73.8281 316.291C85.4735 316.291 88.8008 320.364 88.8008 332C88.8008 320.364 92.6826 316.291 103.773 316.291C92.6826 316.291 88.8008 312.218 88.8008 300C88.8008 312.218 85.4735 316.291 73.8281 316.291Z" fill="#2D2D2D"/>
                    <path d="M541.611 67.2043C545.974 83.487 542.671 101.037 532.889 118.861C523.105 136.687 506.853 154.758 485.379 172.042C442.432 206.61 378.672 237.97 304.277 257.905C229.881 277.839 158.983 282.56 104.506 274.097C77.2668 269.865 54.1569 262.341 36.7707 251.795C19.3876 241.251 7.752 227.703 3.38907 211.42C-0.973853 195.138 2.32904 177.587 12.1112 159.764C21.895 141.938 38.1467 123.867 59.6208 106.583C102.568 72.0148 166.328 40.6543 240.723 20.7201C315.119 0.785964 386.017 -3.93504 440.494 4.52794C467.733 8.75956 490.843 16.2836 508.229 26.8297C525.612 37.3741 537.248 50.9217 541.611 67.2043Z" stroke="black" stroke-opacity="0.5"/>
                    <path d="M541.611 113.406C545.974 129.689 542.671 147.239 532.889 165.063C523.105 182.889 506.853 200.96 485.379 218.244C442.432 252.812 378.672 284.173 304.277 304.107C229.881 324.041 158.983 328.762 104.506 320.299C77.2668 316.067 54.1569 308.543 36.7707 297.997C19.3876 287.453 7.752 273.905 3.38907 257.623C-0.973853 241.34 2.32904 223.79 12.1112 205.966C21.895 188.14 38.1467 170.069 59.6208 152.785C102.568 118.217 166.328 86.8564 240.723 66.9223C315.119 46.9881 386.017 42.2671 440.494 50.7301C467.733 54.9617 490.843 62.4858 508.229 73.0319C525.612 83.5762 537.248 97.1238 541.611 113.406Z" stroke="black" stroke-opacity="0.5"/>
                    </svg>
        .form-group
            .form-field.form-field-input(data-field-input data-field-name data-status="field--inactive")
                input(type='text' name="name" placeholder="Ім’я:").form-field__input
                .input-message(data-input-message)
                .input-placeholder Ваше ім’я
            .form-field.disabled.form-field-input(data-field-input data-field-phone data-status="field--inactive")
                input(type='text' name="phone" placeholder="Телефон:").form-field__input
                .input-message(data-input-message)
                .input-placeholder Ваш телефон
                .mask-absolute.js-mask-absolute
            .form-btn-wrap.df.jcsb.aic
                +btn2('Замовити дзвінок', 'gold')(type="submit" data-btn-submit)
                    div(data-btn-submit-text)