.popup-wrapper(data-popup-with-form)

    form.popup.form-std.popup-form(data-popup-form)
        .succes-overlay(data-succes-overlay)
            .form-std__subtitle Заявка прийнята
            p Дякуємо за звернення! Очікуйте на дзвінок від менеджера La Manche.
            p Бажаємо приємного дня та гарного настрою!)
            +a('На головну', 'gold', 'index.html')
        <svg data-popup-close class="popup__close " width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="50" height="50" rx="25" fill="#2D2D2D"/>
            <path d="M19 31L31 19M31 31L19 19" stroke="#F3EFE9"/>
            </svg>
        .popup-title Замовити дзвінок
        .form-field.form-field-input(data-field-input data-field-name data-status="field--inactive")
            input(type='text' name="name" placeholder="Ім’я:").form-field__input
            .input-message(data-input-message)
            .input-placeholder Ваше ім’я
        .form-field-message Введіть ваш телефон
        .form-field.disabled.form-field-input(data-field-input data-field-phone data-status="field--inactive")
            input(type='text' name="phone" placeholder="Телефон:").form-field__input
            .input-message(data-input-message)
            .input-placeholder Ваш телефон
            .mask-absolute.js-mask-absolute
        .form-btn-wrap.df.jcsb.aic
            +btn('Замовити дзвінок', 'gold')(type="submit" data-btn-submit)
                div(data-btn-submit-text)