
extends ../layout/main
block variable
  -
    var title_page = 'parking'
    var id_page = 'id-page-parking'
    var class_page = 'class-page-parking'
    var breadcrumbsSubitem = [
      {
        label: 'About',
        link: pagesLink[0].about
      }
    ]
  
block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  //- script(defer src='./assets/scripts/libs.js')
  //- script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/parking.js')
  script(defer src='./assets/scripts/conception.js')
  script(defer src='./assets/scripts/animation.js')
block content
  section.page-section
    .page-section-common-block
      include ../includes/breadcrumbs.pug
      h1.page-title  #{title_page}
      a(href="#").ellipse-common
        .ellipse-common__text Вся інфраструктура розташовується на експлуатованих покрівлях і у внутрішньому дворі та націлена виключно на мешканців будинку. 
        <svg data-motion-svg class="ellipse-common__decor" width="573" height="375" viewBox="15 50 573 375" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path class="circle1" d="M452.189 102.294C463.835 102.294 467.162 106.367 467.162 118.003C467.162 106.367 471.044 102.294 482.135 102.294C471.044 102.294 467.162 98.2211 467.162 86.0029C467.162 98.2211 463.835 102.294 452.189 102.294Z" fill="#D9B48F"/>
          <path class="circle2" d="M102.826 368.294C114.471 368.294 117.799 372.367 117.799 384.003C117.799 372.367 121.68 368.294 132.771 368.294C121.68 368.294 117.799 364.221 117.799 352.003C117.799 364.221 114.471 368.294 102.826 368.294Z" fill="#D9B48F"/>
          <path class="road1" d="M570.611 119.207C574.974 135.49 571.671 153.04 561.889 170.863C552.105 188.69 535.853 206.761 514.379 224.045C471.432 258.613 407.672 289.973 333.276 309.908C258.881 329.842 187.983 334.563 133.506 326.1C106.267 321.868 83.1567 314.344 65.7705 303.798C48.3873 293.254 36.7518 279.706 32.3888 263.423C28.0259 247.141 31.3288 229.59 41.1109 211.767C50.8947 193.941 67.1464 175.87 88.6206 158.586C131.568 124.018 195.328 92.6572 269.723 72.723C344.118 52.7889 415.016 48.0679 469.494 56.5309C496.733 60.7625 519.843 68.2865 537.229 78.8327C554.612 89.377 566.248 102.925 570.611 119.207Z" stroke="#D9B48F" stroke-opacity="0.5"/>
          <path class="road2" d="M32.2724  309.186C27.9359 292.896 31.2673 275.351 41.0783 257.544C50.891 239.733 67.1721 221.689 88.6742 204.439C131.677 169.941 195.488 138.684 269.916 118.871C344.343 99.0576 415.249 94.4517 469.712 103.003C496.945 107.279 520.043 114.84 537.412 125.415C554.778 135.987 566.391 149.554 570.728 165.844C575.064 182.133 571.733 199.678 561.922 217.486C552.109 235.296 535.828 253.341 514.326 270.59C471.323 305.088 407.512 336.345 333.084 356.158C258.657 375.972 187.751 380.578 133.288 372.026C106.055 367.75 82.9575 360.189 65.5885 349.614C48.2224 339.042 36.6089 325.475 32.2724 309.186Z" stroke="#D9B48F" stroke-opacity="0.5"/>
          </svg>
    <svg data-svg-paralax class="round-image-on-first-section"  width="638" height="937" viewBox="0 0 638 937" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="638" height="937">
      <path d="M0 300C0 134.315 134.315 0 300 0H338C503.685 0 638 134.315 638 300V937H0V300Z" fill="url(#pattern0)"/>
      <path d="M0 300C0 134.315 134.315 0 300 0H338C503.685 0 638 134.315 638 300V937H0V300Z" fill="url(#paint0_linear)" fill-opacity="0.07"/>
      </mask>
      <g mask="url(#mask0)">
      <path d="M-43 240C-43 74.3146 91.3146 -60 257 -60H337C502.685 -60 637 74.3146 637 240V938H-43V240Z" fill="url(#pattern1)"/>
      <path d="M-43 240C-43 74.3146 91.3146 -60 257 -60H337C502.685 -60 637 74.3146 637 240V938H-43V240Z" fill="url(#paint1_linear)" fill-opacity="0.07"/>
      </g>
      <defs>
      <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
      <use xlink:href="#image0" transform="translate(-0.452712) scale(0.00145077 0.00100127)"/>
      </pattern>
      <pattern id="pattern1" patternContentUnits="objectBoundingBox" width="1" height="1">
      <use xlink:href="#image0" transform="translate(-0.452712) scale(0.00145077 0.00100127)"/>
      </pattern>
      <linearGradient id="paint0_linear" x1="319" y1="0" x2="319" y2="937" gradientUnits="userSpaceOnUse">
      <stop/>
      <stop offset="1" stop-opacity="0"/>
      </linearGradient>
      <linearGradient id="paint1_linear" x1="297" y1="-60" x2="297" y2="938" gradientUnits="userSpaceOnUse">
      <stop/>
      <stop offset="1" stop-opacity="0"/>
      </linearGradient>
      <image x="-100" id="image0" width="1500" height="1101" xlink:href="./assets/images/conception/img1.jpg">
      </defs>
      </svg>
    .conception-img2
      +svg('round-text')
      img(src="./assets/images/conception/img2.jpg" data-paralax)
    .conception-paragraph.conception-paragraph1(data-split-to-lines) Зона рецепції при вході~ прикрашена 3Д кулями,~ які світяться в різних~ режимах, в залежності~ від освітленості~ на вулиці~ - це динамічна~ скульптура.
    .conception-block-with-text1.conception-block-with-text
      img(src="./assets/images/conception/img3.jpg" data-paralax)
      p Окремо, за напівпрозорими стеклами знаходиться тиха кав'ярня, де мешканці зможуть проводити затишні сімейні посиденьки. 
    .conception-block-with-text2.conception-block-with-text
      img(src="./assets/images/conception/img4.jpg" data-paralax)
      p Зона лаунж - дивани, міні бібліотека. 
    .conception-paragraph.conception-paragraph2(data-split-to-lines) Далі невелика~ фітнес-студія, де ви~ можете прийти~ та побігати~ на доріжці,~ або зайнятися~ TRX, йогою.
    .conception-img3
      img(src="./assets/images/conception/img5.jpg" data-paralax)
    <svg data-svg-paralax class="conception-img4"  width="638" height="937" viewBox="0 0 638 937" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <mask id="mask-2" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="638" height="937">
      <path d="M0 300C0 134.315 134.315 0 300 0H338C503.685 0 638 134.315 638 300V937H0V300Z" fill="url(#pattern-2)"/>
      <path d="M0 300C0 134.315 134.315 0 300 0H338C503.685 0 638 134.315 638 300V937H0V300Z" fill="url(#paint0_linear-2)" fill-opacity="0.07"/>
      </mask>
      <g mask="url(#mask-2)">
      <path d="M-43 240C-43 74.3146 91.3146 -60 257 -60H337C502.685 -60 637 74.3146 637 240V938H-43V240Z" fill="url(#pattern12)"/>
      <path d="M-43 240C-43 74.3146 91.3146 -60 257 -60H337C502.685 -60 637 74.3146 637 240V938H-43V240Z" fill="url(#paint1_linear-2)" fill-opacity="0.07"/>
      </g>
      <defs>
      <pattern id="pattern-2" patternContentUnits="objectBoundingBox" width="1" height="1">
      <use xlink:href="#image-2" transform="translate(-0.452712) scale(0.00145077 0.00100127)"/>
      </pattern>
      <pattern id="pattern12" patternContentUnits="objectBoundingBox" width="1" height="1">
      <use xlink:href="#image-2" transform="translate(-0.452712) scale(0.00145077 0.00100127)"/>
      </pattern>
      <linearGradient id="paint0_linear-2" x1="319" y1="0" x2="319" y2="937" gradientUnits="userSpaceOnUse">
      <stop/>
      <stop offset="1" stop-opacity="0"/>
      </linearGradient>
      <linearGradient id="paint1_linear-2" x1="297" y1="-60" x2="297" y2="938" gradientUnits="userSpaceOnUse">
      <stop/>
      <stop offset="1" stop-opacity="0"/>
      </linearGradient>
      <image x="-100" id="image-2" width="1500" height="1101" xlink:href="./assets/images/conception/img6.jpg">
      </defs>
      </svg>
    .conception-block-with-stars
      .ellipse-common
        .ellipse-common__text Особливою родзинкою CENTOWER є тераси, з шикарним виглядом на всю центральну частину міста.
        <svg data-motion-svg class="ellipse-common__decor" width="573" height="375" viewBox="15 35 573 375" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path class="circle1" d="M452.189 102.294C463.835 102.294 467.162 106.367 467.162 118.003C467.162 106.367 471.044 102.294 482.135 102.294C471.044 102.294 467.162 98.2211 467.162 86.0029C467.162 98.2211 463.835 102.294 452.189 102.294Z" fill="#D9B48F"/>
          <path class="circle2" d="M102.826 368.294C114.471 368.294 117.799 372.367 117.799 384.003C117.799 372.367 121.68 368.294 132.771 368.294C121.68 368.294 117.799 364.221 117.799 352.003C117.799 364.221 114.471 368.294 102.826 368.294Z" fill="#D9B48F"/>
          <path class="road1" d="M570.611 119.207C574.974 135.49 571.671 153.04 561.889 170.863C552.105 188.69 535.853 206.761 514.379 224.045C471.432 258.613 407.672 289.973 333.276 309.908C258.881 329.842 187.983 334.563 133.506 326.1C106.267 321.868 83.1567 314.344 65.7705 303.798C48.3873 293.254 36.7518 279.706 32.3888 263.423C28.0259 247.141 31.3288 229.59 41.1109 211.767C50.8947 193.941 67.1464 175.87 88.6206 158.586C131.568 124.018 195.328 92.6572 269.723 72.723C344.118 52.7889 415.016 48.0679 469.494 56.5309C496.733 60.7625 519.843 68.2865 537.229 78.8327C554.612 89.377 566.248 102.925 570.611 119.207Z" stroke="#D9B48F" stroke-opacity="0.5"/>
          <path class="road2" d="M32.2724  309.186C27.9359 292.896 31.2673 275.351 41.0783 257.544C50.891 239.733 67.1721 221.689 88.6742 204.439C131.677 169.941 195.488 138.684 269.916 118.871C344.343 99.0576 415.249 94.4517 469.712 103.003C496.945 107.279 520.043 114.84 537.412 125.415C554.778 135.987 566.391 149.554 570.728 165.844C575.064 182.133 571.733 199.678 561.922 217.486C552.109 235.296 535.828 253.341 514.326 270.59C471.323 305.088 407.512 336.345 333.084 356.158C258.657 375.972 187.751 380.578 133.288 372.026C106.055 367.75 82.9575 360.189 65.5885 349.614C48.2224 339.042 36.6089 325.475 32.2724 309.186Z" stroke="#D9B48F" stroke-opacity="0.5"/>
          </svg>
      +a3('Більше про тераси', '#')
  section.conception-white-section
    <svg class="conception-white-section__decor-pattern " data-first-screen-anim width="399" height="199" viewBox="0 0 399 199" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 4.00543e-05C155.167 4.00543e-05 199.5 9 199.5 9C199.5 9 251.222 4.00543e-05 399 4.00543e-05C251.222 4.00543e-05 199.5 0 199.5 0C199.5 0 155.167 4.00543e-05 0 4.00543e-05Z" fill="#2D2D2D"/>
      </svg>
    .page-title.dark Філософія
    .conception-white-section__block
      +svg('star')
      img(src="./assets/images/conception/philosophy1.jpg", alt="#" data-clip-enter).conception-white-section__block-image
      <svg class="conception-white-section__block-img " width="545" height="336" viewBox="0 0 545 336" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M121.811 50.2909C110.165 50.2909 106.838 54.3636 106.838 66C106.838 54.3636 102.956 50.2909 91.8652 50.2909C102.956 50.2909 106.838 46.2182 106.838 34C106.838 46.2182 110.165 50.2909 121.811 50.2909Z" fill="#262525"/>
        <path d="M471.174 316.291C459.528 316.291 456.201 320.364 456.201 332C456.201 320.364 452.319 316.291 441.228 316.291C452.319 316.291 456.201 312.218 456.201 300C456.201 312.218 459.528 316.291 471.174 316.291Z" fill="#262525"/>
        <path d="M3.38909 67.2043C-0.973837 83.487 2.32907 101.037 12.1112 118.861C21.895 136.687 38.1467 154.758 59.6208 172.042C102.568 206.61 166.328 237.97 240.723 257.905C315.119 277.839 386.017 282.56 440.494 274.097C467.733 269.865 490.843 262.341 508.229 251.795C525.612 241.251 537.248 227.703 541.611 211.42C545.974 195.138 542.671 177.587 532.889 159.764C523.105 141.938 506.853 123.867 485.379 106.583C442.432 72.0148 378.672 40.6543 304.277 20.7201C229.881 0.785964 158.983 -3.93504 104.506 4.52794C77.2668 8.75956 54.1569 16.2836 36.7708 26.8297C19.3876 37.3741 7.75202 50.9217 3.38909 67.2043Z" stroke="#262525" stroke-opacity="0.5"/>
        <path d="M3.38909 113.406C-0.973837 129.689 2.32907 147.239 12.1112 165.063C21.895 182.889 38.1467 200.96 59.6208 218.244C102.568 252.812 166.328 284.173 240.723 304.107C315.119 324.041 386.017 328.762 440.494 320.299C467.733 316.067 490.843 308.543 508.229 297.997C525.612 287.453 537.248 273.905 541.611 257.623C545.974 241.34 542.671 223.79 532.889 205.966C523.105 188.14 506.853 170.069 485.379 152.785C442.432 118.217 378.672 86.8564 304.277 66.9223C229.881 46.9881 158.983 42.2671 104.506 50.7301C77.2668 54.9617 54.1569 62.4858 36.7708 73.0319C19.3876 83.5762 7.75202 97.1238 3.38909 113.406Z" stroke="#262525" stroke-opacity="0.5"/>
        </svg>
    .conception-paragraph.dark(data-split-to-lines) Даємо доступ до усього~ найкращого у місті на~ відстані витягнутої руки.
  section.page-section.conception-last-section
    <svg class="conception-last-section__decor-pattern"  data-first-screen-anim width="399" height="199" viewBox="0 0 399 199" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 4.00543e-05C155.167 4.00543e-05 199.5 9 199.5 9C199.5 9 251.222 4.00543e-05 399 4.00543e-05C251.222 4.00543e-05 199.5 0 199.5 0C199.5 0 155.167 4.00543e-05 0 4.00543e-05Z" fill="#F3EFE9"/>
      </svg>
    .page-title.w-100 Архітектура
    .conception-block-with-text3.conception-block-with-text
      img(src="./assets/images/conception/archi1.jpg" data-paralax)
      p CENTOWER виконаний у сучасному європейському стилі, та дуже коректно вписується в архітектуру цього району.  
    .conception-img5
      img(src="./assets/images/conception/archi2.jpg" data-paralax)
    .conception-paragraph.conception-paragraph3 Вся стілобатна частина є своєрідним лендмарком для центральної частини міста Дніпро, оскільки перші 2 поверхи будуть обладнані під торгову площу і виконані в 3Д склі, яке, у вечорі матиме неймовірне підсвічування з переломом променів, спектрів і великою кількістю світла. 
    a(href="location").ellipse-common
        +btn3('Локація', '#')
        <svg data-motion-svg class="ellipse-common__decor" width="573" height="375" viewBox="15 50 573 375" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path class="circle1" d="M452.189 102.294C463.835 102.294 467.162 106.367 467.162 118.003C467.162 106.367 471.044 102.294 482.135 102.294C471.044 102.294 467.162 98.2211 467.162 86.0029C467.162 98.2211 463.835 102.294 452.189 102.294Z" fill="#D9B48F"/>
          <path class="circle2" d="M102.826 368.294C114.471 368.294 117.799 372.367 117.799 384.003C117.799 372.367 121.68 368.294 132.771 368.294C121.68 368.294 117.799 364.221 117.799 352.003C117.799 364.221 114.471 368.294 102.826 368.294Z" fill="#D9B48F"/>
          <path class="road1" d="M570.611 119.207C574.974 135.49 571.671 153.04 561.889 170.863C552.105 188.69 535.853 206.761 514.379 224.045C471.432 258.613 407.672 289.973 333.276 309.908C258.881 329.842 187.983 334.563 133.506 326.1C106.267 321.868 83.1567 314.344 65.7705 303.798C48.3873 293.254 36.7518 279.706 32.3888 263.423C28.0259 247.141 31.3288 229.59 41.1109 211.767C50.8947 193.941 67.1464 175.87 88.6206 158.586C131.568 124.018 195.328 92.6572 269.723 72.723C344.118 52.7889 415.016 48.0679 469.494 56.5309C496.733 60.7625 519.843 68.2865 537.229 78.8327C554.612 89.377 566.248 102.925 570.611 119.207Z" stroke="#D9B48F" stroke-opacity="0.5"/>
          <path class="road2" d="M32.2724  309.186C27.9359 292.896 31.2673 275.351 41.0783 257.544C50.891 239.733 67.1721 221.689 88.6742 204.439C131.677 169.941 195.488 138.684 269.916 118.871C344.343 99.0576 415.249 94.4517 469.712 103.003C496.945 107.279 520.043 114.84 537.412 125.415C554.778 135.987 566.391 149.554 570.728 165.844C575.064 182.133 571.733 199.678 561.922 217.486C552.109 235.296 535.828 253.341 514.326 270.59C471.323 305.088 407.512 336.345 333.084 356.158C258.657 375.972 187.751 380.578 133.288 372.026C106.055 367.75 82.9575 360.189 65.5885 349.614C48.2224 339.042 36.6089 325.475 32.2724 309.186Z" stroke="#D9B48F" stroke-opacity="0.5"/>
          </svg>

block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
