* {
	box-sizing: border-box;
}

*::after, *::before {
	box-sizing: border-box;
}


@include reset();

.debug {
	z-index: 999999;
	@include debug(rgba(0, 0, 0, .5), 1px solid #ff0);
}

.container {
	@include wrapper();
	padding-top: calc(var(--header-h) + var(--container-top-padding));
	padding-left: var(--page-side-fields);
	padding-right: var(--page-side-fields);
	@include to(575px){
		padding-left: var(--page-side-fields);	
		padding-right: var(--page-side-fields);	
	}

}


html{
	font-size: 14px;
	&.menu-open {
		overflow: hidden;
	}
}
body {
	margin: 0;
	min-width: 320px;
	line-height: 1.4em;
	font-family: $default-font;
	overflow-x: hidden;
	font-size: 15px;
	color: var(--color-gray);
	background-color: var(--color-black);
	@include from(1680px){
		font-size: 18px;
	}
	@include to(575px){
		font-size: 15px;
	}
}

body input, body textarea {
	border: #666 1px solid;
	outline: none;
}


::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #E2E3E4;
  //-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}


/* Handle */
::-webkit-scrollbar-thumb {
  background: $mc;
  -webkit-box-shadow: inset 0 0 6px #E2E3E4;
  //-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: #c1c1c1;
}

::selection {
  background-color: $mc;
  color: #fff;
}

::placeholder {
	color: #ccc;
}

:-moz-placeholder {
	color: #ccc;
}

::-webkit-input-placeholder {
	color: #ccc;
}

:-ms-input-placeholder {
	color: #ccc;
}

::-ms-input-placeholder {
	color: #ccc;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	transition: background-color 5000s ease-in-out 0s;
}



body input:focus:required:invalid, body textarea:focus:required:invalid {
  border-color: red;
}

body input:required:valid, body textarea:required:valid {
  border-color: green;
}

img {
  width: 100%;
  display: block;
}

body *:focus {
  outline: none;
}

body.focus-tab--enable *:focus {
  outline-color: #4d90fe;
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 7px;
}

button:hover,
a:hover,
select:hover {
  cursor: pointer;
}
@media screen and (max-width:575px) {
	.page__inner {
		max-width: 100vw;
		overflow: hidden;
	}
}
p~p {
	margin-top: 1.4em;
}

.iti-flag{
  //background-image: url("../img/flag/flags.png");
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti-flag{
    //background-image: url("../img/flag/flags@2x.png");
  }
}
.intl-tel-input.allow-dropdown .flag-container,.intl-tel-input.separate-dial-code .flag-container{
  @include to(1200px){
    left: 5%;
  }
}
.intl-tel-input.allow-dropdown input,
.intl-tel-input.allow-dropdown input[type=tel],
.intl-tel-input.allow-dropdown input[type=text],
.intl-tel-input.separate-dial-code input,
.intl-tel-input.separate-dial-code input[type=tel],
.intl-tel-input.separate-dial-code input[type=text]{
  @include to(1200px){
    padding-left: 95px
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.custom-scroll::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.custom-scroll::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}

.custom-scroll::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: $mc;
}

.custom-scroll::-webkit-scrollbar {
	height: 8px;
	width: 8px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
/*! locomotive-scroll v4.0.6 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */html.has-scroll-smooth{overflow:hidden}html.has-scroll-dragging{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.has-scroll-smooth body{overflow:hidden}.has-scroll-smooth [data-scroll-container]{min-height:100vh}[data-scroll-direction=horizontal] [data-scroll-container]{height:100vh;display:inline-block;white-space:nowrap}[data-scroll-direction=horizontal] [data-scroll-section]{display:inline-block;vertical-align:top;white-space:nowrap;height:100%}.c-scrollbar{position:absolute;right:0;top:0;width:11px;height:100%;transform-origin:center right;transition:transform .3s,opacity .3s;opacity:0}.c-scrollbar:hover{transform:scaleX(1.45)}.c-scrollbar:hover,.has-scroll-dragging .c-scrollbar,.has-scroll-scrolling .c-scrollbar{opacity:1}[data-scroll-direction=horizontal] .c-scrollbar{width:100%;height:10px;top:auto;bottom:0;transform:scaleY(1)}[data-scroll-direction=horizontal] .c-scrollbar:hover{transform:scaleY(1.3)}.c-scrollbar_thumb{position:absolute;top:0;right:0;background-color:#000;opacity:.5;width:7px;border-radius:10px;margin:2px;cursor:-webkit-grab;cursor:grab}.has-scroll-dragging .c-scrollbar_thumb{cursor:-webkit-grabbing;cursor:grabbing}[data-scroll-direction=horizontal] .c-scrollbar_thumb{right:auto;bottom:0} .c-scrollbar {z-index: 10000;}

button, a {
	font-family: $default-font;
}
.button-std-4 {
	--side-padding: 40px;
	--v-padding: 15px;
	--hover-color:rgba(217, 180, 143, 0.8);
	--hover-text-color: var(--color-white);
	background-color: transparent;
	text-decoration: none;
	overflow: hidden;
	display: inline-block;
	padding: var(--v-padding) var(--side-padding);
	font-size: 15px;
	line-height: 130%;
	color: var(--color-white);
	border: 1px solid rgba(217, 180, 143, 0.5);
	border-radius: 100px;
}

.button-std-1 {
	background-color: transparent;
	display: flex;
	align-items: center;
	border: none;
	font-size: 15px;
	line-height: 130%;
	color: var(--color-white);
	--hover-text-color: var(--color-white);
	&:disabled {
		pointer-events: none;
	}
	&:disabled &__icon:after {
		background-color: var(--color-gray);
	}
	&__icon {
		margin-right: 20px;
		width: 50px;
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		background-color:  var(--color-white);
		border-radius: 50%;
		svg {
			position: relative;
			width: 45%;
			height: 45%;
			fill: var(--color-white);
			z-index: 3;
			transition: .3s ease-in-out;
		}
	}
	&__icon:after {
		content: '';
		transform-origin: center;
		transition: .3s ease-in-out;
		background-color: rgba(217, 180, 143, 0.8);
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		border-radius: inherit;
	}
	&:hover &__icon:after {		
		transform: scale(0);
		z-index: 2;
	}
	&:hover svg {
		fill: var(--color-black);
	}
}


.link {
	position: relative;
}

.link::before,
.link::after {
  position: absolute;
  width: 100%;
  height: 1px;
  background: currentColor;
  top: 100%;
  left: 0;
  pointer-events: none;
}

.link::before {
  content: '';
  /* show by default */
}


.link--metis::before {
  transform-origin: 100% 50%;
  transform: scale3d(0, 1, 1);
  transition: transform 0.3s;
}

.link--metis:hover::before {
  transform-origin: 0% 50%;
  transform: scale3d(1, 1, 1);
}



.button-std-2 {
	--size: 100px;
	height: var(--size);
	width: var(--size);
	padding: 0;
	margin: 0;
	background-color: transparent;
	border: none;
	svg {
		width: 100%;
		height: 100%;
	}
	circle {
		transition: .3s ease-in-out;
	}
	&:hover circle {
		fill: var(--color-gold);
	}
	&:disabled {
		cursor: not-allowed;
	}
	&:disabled circle{
		fill: var(--color-gray);
	}
}

.button-std-3 {
	font-size: 36px;
	line-height: 140%;
	color: var(--color-gray);
	text-decoration: none;
	text-transform: uppercase;
	border: none;
	background-color: transparent;
	svg {
		margin-left: 30px;
	}
	path {
	transition: .3s ease-in-out;
	transform-box: fill-box;
	transform-origin: right;
	transform: translateX(0%);
}
&:hover path {
		transform: translateX(-30px);

	}
}

.page-title {
	font-weight: 300;
	font-size: 100px;
	line-height: 100%;
	color: var(--color-milk);
	text-transform: uppercase;
	&.dark {
		
		color: var(--color-black);
	}
}

.ellipse-common {
	position: relative;
	display: inline-block;
	text-decoration: none;
	color: inherit;
	.button-std-3 {
		position: absolute;
		left: 50%;
		top: 45%;
		transform: translate(-50%,-50%);
		width: 45%;
		white-space: nowrap;


		top: 45%;
    transform: translate(0%, -50%);
    width: 45%;
    white-space: nowrap;
    text-align: center;
    width: 100%;
		left: 0;
	}
	&__text {
		font-size: 15px;
		line-height: 140%;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		width: 55%;
	}
	&__decor {
		height: auto;
		width: 100%;
	}
}

.link {
	text-decoration: none;
	color: var(--color-white);
	font-size: 13px;
line-height: 130%;
/* identical to box height, or 17px */

letter-spacing: 0.03em;
text-transform: uppercase;
}


.page-section {
  --bottom-block-margin: 100px;
  @include row-flex();
  @include shift-padding(2);
  @include to(1120px){
    
    padding-left: 0;
    padding-right: 0;
  }
  align-content: flex-start;
  margin-top: 83px;
  .round-image-on-first-section {
    @include size(12);
    @include shift(0);
		@include from(1680px){
			max-height: 75vh;
		}
  }
  .page-section-common-block {
    @include shift(0);
    @include size(12);
    position: relative;
    z-index: 3;
  }
	.page-section-common-block.image-down {
		@include shift(0);
    @include size(24);
    position: relative;
    z-index: 3;
		margin-bottom: 50px;
	}
  .ellipse-common {
    @include shift-left(-2);
    @include size(26);
    margin-top: auto;
    margin-bottom: auto;
  }
  .page-section-common-block.image-down .ellipse-common {
    @include shift-left(0);
    @include size(13.2);
		margin-top: 100px;
  }
  .page-title {
    white-space: nowrap;
  }
}

.page-white-section {
  background-color: var(--color-milk);
  @include row-flex();
  padding-left: calc(8.33333% + 12.5px + var(--page-side-fields));
  padding-right: calc(8.33333% + 12.5px + var(--page-side-fields));
  margin-left: calc(var(--page-side-fields) * -1 - #{$offset / 2});
  margin-right: calc(var(--page-side-fields) * -1 - #{$offset / 2});
  @include to(1120px){
    
    padding-left: var(--page-side-fields);
    padding-right: var(--page-side-fields);
    margin-left: calc( -1 * var(--page-side-fields));
    margin-right: calc( -1 * var(--page-side-fields));
  }
  // padding-left: var(--page-side-fields);
  // padding-right: var(--page-side-fields);
  position: relative;
  padding-top: 202px;
  padding-bottom: 150px;
  &__decor-pattern {
    position: absolute;
    top: -2px;
    right: 12%;
    width: 48%;
    height: 202px;
  }
  .page-title {
    @include size(24);
    @include shift(0);
    text-align: right;
    margin-top: 50px;
  }
}

.page-last-section {
	--top-padding: 146px;
	--bottom-padding: 100px;
	padding-top: var(--top-padding);
	padding-top: var(--bottom-padding);
	position: relative;
	--decor-height: 200px;
	@include row-flex();
	&__decor-pattern {
		position: absolute;
    left: 0;
    top: -2px;
    height: var(--decor-height);
		@include shift-left(2);
	}
	.ellipse-common {
		@include size(11);
		@include shift-left(12);
		@include shift-right(1);
	}
}

.with-round-text {
  position: relative;
  .icon--round-text {
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%,-50%);
  }
}