ul.lang.header__lang
  li(data-animate-links).lang__item.lang__item--active
    a(href="#").link--metis.link Ук
  li(data-animate-links).lang__item
    a(href="#").link--metis.link Ру
  li(data-animate-links).lang__item
    a(href="#").link--metis.link En