.footer {
  --v-padding: 40px;
  position: relative;
  padding: var(--v-padding) var(--page-side-fields);
  height: 94px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: var(--color-grey);
  font-size: 10px;
  line-height: 120%;
  @include from(1680px){
    font-size: 14px; 
  }
  @include to(575px) {
    --v-padding: 25px;
    height: 91px;
  }
  &:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    height: 0.5px;
    width: calc(100% - (var(--page-side-fields) * 2));
    transform: translateX(-50%);
    background-color: rgba(152, 152, 152, 0.25);
    
  }
  &__left {
    @include to(575px) {
      order: 2;
      margin-top: 15px;
      width: 100%;
    }
  }
  &__right {
    @include to(575px) {
      order: 1;
      margin-left: auto;
    }
  }
  &__center {
    margin: 0 auto;
    @include to(575px) {
      order: -1;
      margin: 0;
    }
  }
  &__center>*:nth-child(n+2) {
    margin-left: 30px;
  }
  .site-developer {
    color: var(--color-gold);
    text-decoration: none;
  }
}