.header {
  position: fixed;
  top: 0;
  left: 0;
  height: var(--header-h);
  width: 100%;
  padding: 50px var(--page-side-fields) 0 var(--page-side-fields);
  display: flex;
  align-content: center;
  align-items: center;

  --links-padding: 27px;
  --links-v-padding: 16px;
  --between-margin: 50px;
  padding-left: max(calc((100vw - 1720px) / 2), var(--page-side-fields));
  padding-right: max(calc((100vw - 1720px) / 2), var(--page-side-fields));
  transition: .3s ease-in-out;
  &.not-on-top {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgba(38, 37, 37, 0.8);
    @include to(575px) {
      --header-h: 80px;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
  @include to(1120px){
    --between-margin: 30px;
    
  }
  @include to(575px) {
    
    --between-margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(38, 37, 37, 0.8);
    &.not-on-top {
     
    }
  }
  @include from(1720px){
    --links-v-padding: 19px;
    --links-padding: 40px;
    padding-left: calc((100vw - 1680px) / 2);
    padding-right: calc((100vw - 1680px) / 2);

    padding-left: var(--page-side-fields);
    padding-right: var(--page-side-fields);
  }
  @include from(1680px){
    --between-margin: 78px;
  }
  @include from(2040px){
    --between-margin: 110px;
  }
  @include from-to(576px, 950px){
    padding-top: 0;
    --between-margin: 20px;
    justify-content: space-between;
  }
  z-index: 100;
  .langs-header {

    margin-right: var(--between-margin);
  }
  &__logo {
    --logo-w: 225px;
    width: var(--logo-w);
    height: var(--logo-h);
    margin-left: auto;
    margin-right: auto;
    transition: .3s ease-in-out;
    svg {
      width: 100%;
      height: 100%;
    }
    img {
      width: 100%;
      height: 100%;
    }
    @include from(1680px){
      --logo-w: 288px;
    }
    @include to(1120px){
      --logo-w: 175px;
    }
    @include from-to(576px, 950px){
      --logo-w: 175px;
      margin-right: 65px;
      // position: absolute;
      // top: 50%;
      // left: 50%;
      // transform: translate(-50%,-50%);
    }
    @include to(950px) {
      order: -1;
      margin-left: 0;
      margin-right: 30px;
    }
    @include to(575px){
      --logo-w: 65px;

    }
  }
  &__link {
    margin-right: var(--between-margin);
    white-space: nowrap;
    @include from(1680px){
        margin-right: calc(var(--between-margin) + 20px);
    }
    @include to(575px) {
      &[data-call-form-popup] {
        display: none;
      }
    }
  }
  @include to(950px) {
    &__link>span {
      display: none;   
    }
  }
  [data-call-form-popup] {
    @include from-to(576px, 950px){
     display: none; 
    }
  }
  &__tel {
    color: var(--color-white); 
    font-size: 13px;
    line-height: 130%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    @include from(1680px){
      font-size: 16px;
    }
    @include from-to(576px, 950px){
      // display: none;
      width: 50px;
      height: 50px;
    }
    @include to(950px) {
      
      border-radius: 50%;
      position: relative;
      color: transparent;
      overflow: hidden;
      border: 1px solid rgba(243, 239, 233, 0.5);
      &:after {
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg width='13' height='14' viewBox='0 0 13 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.0867 10.0276V11.8603C12.0874 12.0304 12.0549 12.1988 11.9915 12.3547C11.9281 12.5106 11.8351 12.6505 11.7184 12.7655C11.6018 12.8805 11.4641 12.9681 11.3141 13.0226C11.1642 13.0771 11.0053 13.0974 10.8476 13.082C9.09865 12.8778 7.41861 12.2354 5.94253 11.2066C4.56923 10.2687 3.40491 9.01729 2.53225 7.54128C1.57168 5.9476 0.973895 4.13313 0.787328 2.24488C0.773125 2.07595 0.791804 1.90569 0.842177 1.74495C0.89255 1.5842 0.973513 1.43649 1.07991 1.31121C1.18631 1.18594 1.31581 1.08585 1.46017 1.01732C1.60453 0.948781 1.76059 0.913305 1.9184 0.913145H3.62354C3.89938 0.910227 4.16679 1.01521 4.37594 1.20853C4.58509 1.40185 4.7217 1.67031 4.7603 1.96387C4.83227 2.55037 4.96574 3.12623 5.15817 3.68047C5.23464 3.89912 5.25119 4.13675 5.20586 4.3652C5.16053 4.59365 5.05521 4.80335 4.9024 4.96944L4.18055 5.74527C4.98967 7.27466 6.16787 8.54097 7.59083 9.4106L8.31267 8.63477C8.46721 8.47053 8.66231 8.35734 8.87487 8.30862C9.08742 8.25989 9.30852 8.27768 9.51195 8.35987C10.0276 8.56669 10.5634 8.71014 11.1091 8.7875C11.3852 8.82936 11.6374 8.97883 11.8176 9.20748C11.9979 9.43613 12.0936 9.728 12.0867 10.0276Z' stroke='%23F3EFE9' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        width: 13px;
        height: 14px;
        position: absolute;
        left: 50%;
        top: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        transform: translate(-50%, -50%);

      }
    }
    @include to(575px){
      width: 40px;
      height: 40px;
    }
  }
  &__menu-call {
    padding: 0;
    color: var(--color-white);
    background-color: transparent;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    font-size: 15px;
    line-height: 130%;

    // width: 141px;
    span {
      // max-width: 4ch;
      @include to(575px) {
       display: none; 
      }
    }
    @include from(1680px){
      font-size: 19px;
    }
    &-icon {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-left: 20px;
      flex-shrink: 0;
      svg {
        width: 12px;
        height: 12px;
        pointer-events: none;
      }
      rect {
        transform-origin: center;
        transform-box: fill-box;
        transition: .3s ease-in-out;
      }
      @include from(1680px){
        width: 65px;
        height: 65px;
        svg {
          width: 15px;
          height: 15px;
        }
      }
    }
    @include from(950px){
      
    }
    &-icon-path {
      transform-origin: right;
      transform-box: fill-box;
      transition: .3s ease-in-out;
    }
    &-text {
      padding-left: 10px;
    }
    &-text:after {
      transition-delay: .5s;
      transition: .3s ease-in-out;
      content: attr(data-open);
    }
  }

  &__menu-call.opened:hover .hover-bg {
    transform: scale(0);
  }
  &__menu-call.opened:hover [data-close-icon] {
    stroke: var(--color-milk) !important;
  }
  &__menu-call:hover &__menu-call-icon-path {
    // transform: scaleX(1.4);

  }
  &__menu-call:hover [data-open-icon] path {
    fill: var(--color-black);
  }
  &__menu-call:hover rect:not(.hover-bg) {
    transform: scale(0);
  }
  @include from(769px){
    &__menu-call {
      // display: none;   
    }
    &__links {
      // margin-left: 0;
    }
  }
  @include from-to(1680px, 2560px) {
    &__links a:last-child {
      display: none;
    }
  }
  @include to(1440px){
    &__links a:last-child {
      display: none;
    }
  }
  @include to(1380px){
    &__links a:nth-last-child(2) {
      display: none;
    }
  }
  @include to(1320px){
    &__links a:nth-last-child(3) {
      display: none;
    }
  }
  @include to(1120px){
    &__links {
      display: none;
    }
  }
  @include to(575px){
  
    &__menu-call {
      font-size: 12px;
    }
    &__menu-call-icon {
      width: 40px;
      height: 40px;
      svg {
        width: 10px;
        height: 10px;
      }
    }
    &__tel {
      // margin-left: auto;
    }
    &__tel-text {
      display: none;
    }
    .button-std-1__icon {
      margin-right: 0;
    }
  }
  .langs-header {
    @include to(575px) {
     margin-left: auto;
     margin-right: auto; 
    }
  }
}
.menu-open .header__menu-call-text:after {
  transition-delay: .5s;
    content: attr(data-close);
}
.menu-open .header__links {
  transform: translateY(-100%);
  opacity: 0;
}


.langs-header {
	// line-height: 46px;
	position: relative;
	width: 20px;
	height: 1em;
	overflow: hidden;
  color: #F1F1F1;
  text-transform: lowercase;
	ul {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
	}
	li {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	li:after {
		content: '';
		position: absolute;
		left: 50%;
		top: 50%;
		// background-color: var(--color-grey);
		width: 200%;
		height: 200%;
		// border-radius: 50%;
		transform: translate(-50%,-50%);
		z-index: -1;
	}
	li:last-child:after {
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
	}
	li~li {
		margin-top: 10px;
		opacity: 0;
		transition: opacity .3s ease-in-out;
	}
	a {
		transition: color .3s ease-in-out;
		color: var(--color-white);
		text-decoration: none;
	}
	&:hover li~li {
		opacity: 1;
	}
	&:hover {
		overflow: visible;
	}
	@include from(1680px){
		width: 25px;
	}
	@include from(951px){
		display: none;	
	}
	@include from(951px){
		a:hover {
			color: var(--color-gold);		
		}
	}
}


.mobile-callback-popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  // height: fill-available;
  // height: -moz-available;          /* WebKit-based browsers will ignore this. */
  min-height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  background-color: #737373;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  justify-content: flex-end;
  padding: 10px;
  font-size: 15px;
line-height: 100%;
opacity: 0;
visibility: hidden;
  &>* {
    text-decoration: none;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F3EFE9;
    border-radius: 10px;
    color: var(--color-black);
  }
  &>:nth-child(n+2) {
    margin-top: 10px;
  }
  &__close {
    background-color: var(--color-black);
    color: var(--color-milk);
  }
}