.ms-title {
    color: var(--color-white);
    font-weight: 300;
    font-size: 120px;
    line-height: 100%;
    font-weight: 300;
    text-transform: initial;
    @include from(1680px){
        font-size: 140px;
    }
    @include from-to(576px, 950px){
        font-size: 72px;
    }
    @include to(575px) {
        font-size: 50px;
    }
}
.ms-subtitle {
    color: var(--color-gray);
    margin-bottom: 25px;
    max-width: 420px;
    text-align: center;
    @include from(1680px){
       margin-bottom: 35px;
    }
    @include from-to(575px, 950px){
        max-width: 75vw;   
    }
    @include to(575px) {
     width: 100%;   
    }
}
.ms-slider-overlay  {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
}
.ms-slide {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center; align-items: center;
    transform-origin: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    will-change: transform;
    @include to(575px) {
        padding-left: var(--page-side-fields);
        padding-right: var(--page-side-fields);
        &:last-child .ms-title {
            font-size: 36px;
        }
    }
    picture {
        pointer-events: none;
    }
    picture:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.58) 0%, rgba(0, 0, 0, 0) 100%);
    }
    picture:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
    }
    img {
        position: absolute;
        left: 0;

        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }
    &:nth-child(even) {
        // background-color: #2889b6; 
    }
    &:nth-child(odd) {
        // background-color: #0d250a; 
    }
}


.ms-navigation {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: var(--page-side-fields);    top: 50vh;
    transform: translateY(-50%);
    top: calc(50% + var(--header-h) / 2);
    z-index: 10;
    @include to(575px) {
        bottom: 0; 
        left: 0;
        flex-direction: row;
        height: 40px;
        justify-content: center;align-items: center;
        width: 100%;
        top: auto;
    }
    svg {
        cursor: pointer;
    }
    svg~svg {
        margin-top: 20px;
        @include to(575px) {
         margin-top: 0;
         margin-left: 10px;   
        }
    }
    
    .ms-next-slide {
        position: relative;
        width: 50px;
        height: 50px;
        margin-top: 93px;
        @include to(575px) {
            display: none;
        }
    }
    .ms-next-slide:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: var(--color-gold);
        transition: transform .3s ease-in-out;
        transform: scale(0);
        z-index: -1;
    }
    .ms-next-slide:hover:before {
        transform: scale(1);
    }
    @include from(1680px){
        .ms-next-slide,
        svg {
            width: 65px;
            height: 65px;
        }
        svg~svg {
            margin-top: 30px;
        }
    }
    @include to(575px) {
        svg {
            width: 40px;
            height: 40px;
        }
    }
    svg[data-ms-next-slide] {
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
        padding: 21px 18px;
        width: 50px;
        height: 50px;
        @include from(1680px){
            width: 65px;
            height: 65px;
        }
    }
}

.ms-slide-text-wrap {
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ms-delimiter {
    width: 40px;
    height: 1px;
    background-color: rgba(210, 210, 210, 0.6);
    margin-top: 20px;
    margin-bottom: 20px;
    @include from(1680px){
        width: 50px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

.ms-list {
    display: flex;
    color: var(--color-gray);
    @include to(575px) {
        justify-content: space-between;
    }
    span {
        font-family: MADE Coachella;
        margin-right: 13px;
        font-weight: 250;
        font-size: 30px;
        line-height: 120%;
        /* identical to box height, or 36px */
        letter-spacing: 0.03em;
        color: var(--color-white);
        @include from(1680px){
            font-size: 34px;
        }
        @include to(575px) {
         font-size: 25px;   
         margin-right: 0;
        }
        
    }
    li {
        display: flex;
        align-items: center;
        @include from(1380px){
            font-size: 17px;
        }
        @include to(575px) {
            flex-direction: column;
            align-items: center;   
            font-size: 12px;
        }
    }
    li~li {
        margin-left: 40px;
        @include to(575px) {
            margin-left: 20px;
        }
    }
}


.ms-slide-dots {
    position: absolute;
    left: 50%;
    bottom: var(--page-side-fields);
    transform: translateX(-50%);

    circle {
        animation: pulseDots 2s infinite ease-in-out;
    }
    @include to(575px) {
     display: none;   
    }
}

@for $i from 1 through 3 {
    .ms-slide-dots circle:nth-child(#{$i}) {
        animation-name: pulseDots;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-duration: 1.5s;
        animation-delay: #{$i/4}s;
        // animation: pulseDots 2s infinite ease-in-out #{$i};
    }
  }
@keyframes pulseDots {
    from { fill-opacity: 0; }
    50% { fill-opacity: 1; }
    to { fill-opacity: 0; }
}