.menu-wrap {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    padding-top: var(--header-h);
    opacity: 0;
    pointer-events: none;
    transition: opacity .5s ease-in-out;
    background-color: var(--color-black);
    display: flex;
    align-items: center;
    will-change: clip-path;
    will-change: -webkit-clip-path;
    &.opened {
        opacity: 1;
        pointer-events: all;
    }
}
.menu {
    @include row-flex();
    width: calc(100% + #{$offset});
    align-items: flex-start;
    align-content: flex-start;

    &__head-links {
        @include size(5);
        @include shift-right(0);
        @include shift-left(2);
        font-size: 20px;
        line-height: 130%;
        /* identical to box height, or 26px */
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: var(--color-milk);
        li~li {
            margin-top: 30px;
        }
        a svg {
            margin-left: 30px;
        }
        @include from(1680px){
            font-size: 26px;
            li~li  {
                margin-top: 40px;
            }
            a svg {
                margin-left: 40px;
                width: 12px;
                height: 12px;
            }
        }
    }
    a {
        text-decoration: none;
        color: var(--color-milk);
    }

    &__sub-links {
        position: relative;
        @include size(4);
        @include shift(0);
        a {
            font-size: 15px;
            line-height: 130%;
            color: var(--color-gray);
            position: relative;
            display: inline-block;
            text-transform: none;
        }
        a~a {
            margin-top: 20px;
        }
        @include from(1680px){
         font-size: 19px;
         a~a {
             margin-top: 30px;
         }   
        }
    }
    &__sub-links-group {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        opacity: 0;
        visibility: hidden
    }
    &__image {
        @include size(10.5);
        @include shift-left(0);
        @include shift-right(1);
        position: relative;
        img {
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
            width: calc(100% + 190px);
            height: 100%;
            object-fit: cover;
            max-width: none;
        }
    }
    &__image-fixed {
        padding-bottom: 66.6%;
        position: relative;
        @include from(1680px){
            padding-bottom: 57.6%;
        }
        
    }
    &__soc-icons-wrap {
        position: absolute;
        right: 0;
        top: calc(100% + 40px);
    }
    &__soc-icons-wrap :nth-child(n+2) {
        margin-left: 30px;
        @include from(1680px){
         margin-left: 40px;   
        }
    }
}