.icon--round-text {
    width: 78px;
    height: 78px;
    @include from(1680px){
        width: 127px;
        height: 127px;
    }
}

.icon--clock {
    fill: transparent;
    width: 12px;
    height: 12px;
}